{% extends "base.html" %}

{% block main %}
<div class="container">
  <h1>ShEx {{ e }}</h1>

  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="./">←</a>
  <a title="View and edit entity schema on Wikidata"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://www.wikidata.org/wiki/EntitySchema:{{ e }}">Entity Schema 🔗</a>

  <pre>{{ shex }}</pre>
</div>
{% endblock %}
