{% extends "base.html" %}

{% block main %}
<div class="container">
  <h1>ShEx</h1>
  <ul>
    {% for shex_datum in shex_data %}
    <li><a href="{{ shex_datum['id'] }}">{{ shex_datum['id'] }}</a>
      {{ shex_datum['labels'].get('en', '') }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
